@font-face {
    font-family: "appleKid";
    src: url("fonts/apple_kid.woff");
}

body {
    background-color: black !important;
    font-family: "appleKid" !important;
}

nav{
    background-color: black !important;
}