@font-face {
    font-family: "appleKid";
    src: url("../fonts/apple_kid.woff");
}

@font-face {
    font-family: "statusplz";
    src: url("../fonts/statusplz.woff");
}
/* General tags */
body {
    font-family: "appleKid" !important;
    image-rendering: pixelated;
    line-height: 100% !important;
    background-image: url(../assets/bgs/background.png) !important;
    background-repeat: repeat !important;
    background-color: #050d13;
}

.toast-container {
    position: fixed;
    right: 20px;
    bottom: 20px;
  }
  
  .toast:not(.showing):not(.show) {
    display: none !important;
  }
  
  .toast-body, .btn-sm{
      font-size: 1.25rem;
      line-height: 100%;
  }

nav,
#mapSelector,
iframe {
    background-color: #1a1a1a !important;
    border-style: solid;
    border-width: 20px;
    border-image: url(../assets/border.png) 480 round;
    border-radius: 25px;
}

.navbar-brand, h3 {
    font-size: 2.5rem;
}

.nav-link,
.dropdown-item {
    font-size: 1.5rem
}

h1 {
    font-size: 4rem;
}

td,
th {
    font-size: 1.75rem;
}

.description,
.modal-body {
    font-size: 1.5rem;
    line-height: 125%;
}

table {
    border-collapse: separate;
    border: solid black 1px;
    border-radius: 6px;
    align-items: center;
}

.img-heroY {
    height: 50px;
    padding-right: 15px;
}

.img-heroN {
    height: 50px;
    padding-right: 15px;
    opacity: 30%;
}

.img-button {
    margin-top: 5px;
    min-height: 40px;
    height: 50px;
}

.modal-title {
    font-size: 2.5rem;
    line-height: 80%;
}

.col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-item {
    min-height: 100px;
    max-height: 136px;
}

@media (min-width:1400px) {
    .img-item {
        min-height: 100px;
        max-height: 136px;
    }

    .shop-image {
        height: 100px;
        padding: 10px 10px 10px 10px;
    }
}

@media (min-width: 991px) and (max-width: 1400px) {
    .shop-image {
        height: 85px;
        padding: 10px 10px 10px 10px;
    }

}

@media (min-width: 578px) and (max-width: 990px) {
    .shop-image {
        height: 120px;
        padding: 10px 10px 10px 10px;
    }
}

@media (min-width: 990px) and (max-width: 1200px) {
    .selected-div {
        margin-top: 30px;
    }

    .select-hero {
        padding: 5px !important;
    }
}

@media (max-width: 990px) {
    .eqTestDiv {
        display: flex;
        flex-direction: column;
    }

    .select-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-left: 0px;
    }

    .selected-display {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 10px;

        flex: auto;
        margin: auto;
    }

    

    .select-div {
        background-color: #1a1a1a !important;
        border-style: solid;
        border-width: 15px;
        border-image: url(../assets/border.png) 480 round;
        border-radius: 25px;

        width: 100% !important;
    }

    .selected-hero {
        width: 300px !important;
    }

    .select-hero {
        width: 40px !important;
        padding: 3px !important;

    }

    .eqTestDiv>* {
        width: auto !important;
    }

    .tables-div {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10px;

    }

    .adjustTableOnPhone{
        margin: 10px auto 10px auto !important;
    }

}

@media (max-width:1400px) {
    .img-item {
        min-height: 80px;
        max-height: 90px;
    }

    .img-button {
        margin-top: 5px;
        min-height: 40px;
        height: 45px;
    }

}

@media (max-width:1200px) {
    .img-item {
        min-height: 70px;
        max-height: 80px;
    }

    .img-button {
        margin-top: 5px;
        min-height: 40px;
        height: 40px;
    }
}

@media (max-width:991px) {
    .img-item {
        min-height: 130px;
        max-height: 150px;
    }

    .col-lg-1 {
        padding-bottom: 10px;
        column-gap: 5ch;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .col-lg-2 {
        padding-top: 10px;
    }

    .icons {
        column-gap: 2ch;
        margin-top: -20px;
        margin-bottom: 20px;
    }

    .mini {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 2ch;
    }
}

@media (max-width:577px) {
    nav.m-3 {
        width: 100%;
        margin: 0 !important;
    }

    .shop-image {
        width: 200px;
        padding: 10px 10px 10px 10px;
    }

    .col {
        margin: 0 !important;
    }

}

.table {
    margin-bottom: 0 !important;
    max-width: 600px;
    max-height: 200px;
}

.mb-4,
.mb-5 {
    background-color: #1a1a1a;
    border-radius: 25px;
    border-style: solid;
    border-width: 20px;
    border-image: url(../assets/border.png) 480 round;
    row-gap: 5ch;
}

.cg, .icons {
    column-gap: 2ch;
}

.col-lg-6 {
    padding: 0 5px 0 5px;
}

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-group>a {
    font-size: 1.5rem;
}

iframe {
    padding: 0 !important;
}

ul {
    list-style-type: none;
    padding: 0 !important;
    font-size: 1.5rem;
}

a {
    text-decoration: none !important;
    color: white;
}

#mapSelector>li>a:hover {
    color: white !important;
}

#mapSelector>li {
    margin-top: 15px;
}

.arrow {
    margin-right: 5px;
    height: 0.7em;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #1a1a1a !important;
}

.select-hero {
    width: 100%;
    padding: 10px;
}

.select-div {
    width: 50%;
    background-color: #1a1a1a !important;
    border-style: solid;
    border-width: 15px;
    border-image: url(../assets/border.png) 480 round;
    border-radius: 25px;
    margin: 20px auto 20px auto;
    display: block;
}

.select-list {
    margin: auto;
}

.selected-hero {
    width: 100%;
    padding: 10% 20% 5% 20%;
}

.nameText {
    width: 100%;
    text-align: center;
}

#character {
    margin-bottom: 0 !important;
}

.col-sm-4 {
    padding-left: 0;
    padding-right: 0;
}

.col-sm-2 {
    padding-right: 0;
}

.tableEquip {
    margin: 3% 2% 3% 2%;
    background-color: #1a1a1a !important;
    border-style: solid;
    border-width: 15px;
    border-image: url(../assets/border.png) 480 round;
    border-radius: 25px;
    color: white;
}

.table > :not(caption) > * > * {
    border-bottom-width: 0px !important;
}

.eqArrow {
    height: 0.5em;
}

.selected-div {
    width: 100%;
    background-color: #1a1a1a !important;
    border-style: solid;
    border-width: 15px;
    border-image: url(../assets/border.png) 480 round;
    border-radius: 25px;
    display: block;
}

.levelChoice {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 4px !important;
}

select {
    word-wrap: normal;
    background-color: transparent;
    border: none;
    color: white;
    size: 5 !important;
    --form-select-font-family: "appleKid" !important;
    width: 100%;
}

select:focus {
    border-color: #1a1a1a;
    color: white;
    background-color: #1a1a1a;
}

select option:hover {
    background-color: grey;
}

select optgroup option {
    width: 20px !important;
}

select optgroup {
    font-size: 15px;
    width: 10px !important;
    font-family: "appleKid" !important;
    image-rendering: pixelated !important;
}

.drop-zone {
    height: 100px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "appleKid";
    font-size: 40px;
    line-height: 100%;
    cursor: pointer;
    color: white;
    border: 20px dashed #f0f0f0;
    border-image: url(../assets/border-dashed.png) 480 round;
    border-radius: 20px;
}

.drop-zone--over {
    border-image: url(../assets/border.png) 480 round;
    background-color: #1a1a1a;
    background-size: cover;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: relative;
}

#homeImg {
    margin-bottom: 50px;
}

.form-check {
    height: 10px;
}

.form-switch .form-check-input:focus {
    border-color: rgba(0, 0, 0, 0.25);
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
}

.form-switch .form-check-input:checked {
    background-color: #7357ed;
    border-color: #7357ed;
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}

.earthbound-image-div {
    position: relative;
}

.earthbound-image-div span {
    color: white;
    position: absolute;
    right: 40px;
    bottom: 30px;
    font-size: large;
}

.titleInBorder {
    text-align: left;
    margin-top: -15px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    font-family: "statusplz" !important;
}

.titleSpan {
    background-color: #1a1a1a;
    padding-left: 5px;
    padding-right: 3px;
    padding-top: 2px;
}

.tableInfo {
    border-width: 0px !important;
    max-width: 100% !important;
}

.tableInventory td {
    font-size: 20px;
}

.tableInventory {
    width: 80% !important;
}

.tableStats2 {
    margin: 3%;
    background-color: #1a1a1a !important;
    border: solid 2px white;
    border-radius: 25px;
    color: white;
}

.tableStats {
    margin: 3%;
    background-color: #1a1a1a !important;
    border-style: solid;
    border-width: 15px;
    border-image: url(../assets/border.png) 480 round;
    border-radius: 25px;
    color: white;
}

.titleContainer,
.saveFileSelector,
.drop-zone__input {
    display: none;
}

@media (min-width: 0px) and (max-width: 770px) {
    .titleContainer, .single{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}

