@font-face {
    font-family: "appleKid";
    src: url("../fonts/apple_kid.woff");
}

body {
    font-family: "appleKid" !important;
    image-rendering: pixelated;
    line-height: 100% !important;
    background-image: url(../assets/bgs/324.png) !important;
    background-repeat: repeat !important;
}

nav {
    background-color: #1a1a1a !important;
    border-style: solid;
    border-width: 20px;
    border-image: url(../assets/border.png) 6 round;
    border-radius: 25px;
}

.img-item {
    max-height: 136px !important;
    min-height: 100px !important;
    width: auto !important;
}

.navbar-brand {
    font-size: 2.5rem;
}

.nav-link, .dropdown-item {
    font-size: 1.5rem
}

h1 {
    font-size: 4rem;
}

h3 {
    font-size: 2.5rem;
}

.description, .modal-body {
    font-size: 1.5rem;
    line-height: 125%;
}

td, th {
    font-size: 1.75rem;
}

table {
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
}

.img-button{
    margin-top: 5px;
    height: 45%;
}

.modal-title{
    font-size: 2.5rem;
    line-height: 80%;
}

.col-lg-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mb-4{
    background-color: #1a1a1a;
    border-radius: 25px;
    border-style: solid;
    border-width: 20px;
    border-image: url(../assets/border.png) 6 round;
}